.btndeleteSlider {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman' , serif;
    font-size: 20px;
    background-color: #FF6600;
    border-style: solid;
    color: #FFFFFF;
    font-weight: bold;
}
